<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="js/lib/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <script src="js/lib/jquery2.2.4/jquery-2.2.4.js"></script>
    <script src="js/lib/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <style>
        .thumbnail{
            max-height:350px;
            height:330px;
            overflow:hidden;
        }
        .thumbnail > img{
            width:140px;height:140px;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="row hotgoodslist">
        <div class="page-header">
            <h1>热销商品<small>年度热销商品排行榜</small></h1>
        </div>
        <!--<div class="col-sm-4 col-md-3">
            <div class="thumbnail">
                <img src="..." alt="...">
                <div class="caption">
                    <h3>￥<span>400</span></h3>
                    <p>商品名称</p>
                    <p>
                        <a href="#" class="btn btn-danger" role="button">加入购物车</a>
                        <a href="#" class="btn btn-primary" role="button">立即购买</a>
                    </p>
                </div>
            </div>
        </div>-->
    </div>
    <div class="row shirt">
        <div class="page-header">
            <h1>衬衫<small>众多品牌齐聚，商务休闲首选</small></h1>
        </div>

    </div>
</div>
<script>
    $(function() {
        alert("123")
        /* 加载热销商品列表页*/
        $.ajax({
            url:"http://datainfo.duapp.com/shopdata/getGoods.php?callback=?",
            type:"get",
            dataType:"jsonp",
            success:function(resp) {
                console.log(resp);
                for(var i = 0; i < resp.length; i ++) {
                    // DOM操作添加商品
                    var $goodsBox = $("<div>").addClass("col-md-3").addClass("col-sm-4");
                    var $thumbnail = $("<div>").addClass("thumbnail");
                    var $img = $("<img>").attr("src", resp[i].goodsListImg);
                    var $caption = $("<div>").addClass("caption");
                    var $priceSpan = $("<span>").text(resp[i].price);
                    var $price = $("<h3>").text("￥").append($priceSpan);
                    var $name = $("<p>").text(resp[i].goodsName);
                    var $id = $("<p>").text(resp[i].goodsID).css("visible", "hidden");
                    var $addCart = $("<button>").addClass("btn").addClass("btn-danger").text("加入购物车");
                    var $buyNow = $("<button>").addClass("btn").addClass("btn-primary").text("立即购买");
                    $caption.append($price);
                    $caption.append($name);
                    $caption.append($id);
                    $thumbnail.append($img);
                    $thumbnail.append($caption);
                    $thumbnail.append($addCart);
                    $thumbnail.append($buyNow);
                    $goodsBox.append($thumbnail)
                    $(".hotgoodslist").append($goodsBox);
                }
            }
        });

        /*
         加载衬衫商品列表页
         */
        $.ajax({
            url:"http://datainfo.duapp.com/shopdata/getGoods.php?callback=?",
            type:"get",
            data:{
                classID:1
            },
            dataType:"jsonp",
            success:function(resp) {
                console.log(resp);
                for(var i = 0; i < resp.length; i ++) {
                    // DOM操作添加商品
                    var $goodsBox = $("<div>").addClass("col-md-3").addClass("col-sm-4");
                    var $thumbnail = $("<div>").addClass("thumbnail");
                    var $img = $("<img>").attr("src", resp[i].goodsListImg);
                    var $caption = $("<div>").addClass("caption");

                    var $priceSpan = $("<span>").text(resp[i].price);
                    var $price = $("<h3>").append($priceSpan);

                    var $name = $("<p>").text(resp[i].goodsName);
                    var $id = $("<p>").text(resp[i].goodsID).css("visible", "hidden");

                    $caption.append($price);
                    $caption.append($name);
                    $caption.append($id);

                    $thumbnail.append($img);
                    $thumbnail.append($caption);

                    $goodsBox.append($thumbnail)
                    $(".shirt").append($goodsBox);
                }
            }
        });
    })
</script>
</body>
</html>